/* Stili generali per il layout */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Stili per l'header */
.ant-layout-header {
  background: #001529;
  position: relative; /* Necessario per posizionare il burger menu assolutamente rispetto all'header */
}

.ant-typography-title {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 2.5rem; /* Dimensione del font di default */
}

/* Stili per la container */
.container {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 100vh;
}

/* Stili per la results-box */
.results-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
}

/* Stili per la form-box */
.form-box {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-bottom: 20px;
  border-radius: 12px;
}

/* Stili per la flour-box */
.flour-box {
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 8px;
}

.flour-box .ant-space {
  width: 100%;
}

.flour-box .ant-form-item {
  margin-bottom: 0;
}

/* Stili per layout responsive */
@media screen and (max-width: 1250px) {
  .flour-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flour-box > .ant-space {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 998px) {
  .desktop-lang-buttons {
    display: block;
  }
  .mobile-lang-buttons {
    display: none;
  }
}

@media (max-width: 997px) {
  .desktop-lang-buttons {
    display: none;
  }
  .mobile-lang-buttons {
    display: block;
    position: absolute;
    top: 15px; /* Distanza dal fondo dell'header */
    right: -10px; /* Distanza dal lato destro dell'header */
  }

  .radio-group {
    display: flex;
    flex-wrap: wrap;
  }

  .radio-group .ant-radio-button-wrapper {
    flex: 1 0 100%; /* Pane di lievito madre da solo in alto */
    box-sizing: border-box;
    text-align: center;
  }

  .radio-group .ant-radio-button-wrapper:nth-child(2),
  .radio-group .ant-radio-button-wrapper:nth-child(3) {
    flex: 1 0 50%; /* Due bottoni nella seconda riga */
  }

  .radio-group .ant-radio-button-wrapper:nth-child(4),
  .radio-group .ant-radio-button-wrapper:nth-child(5) {
    flex: 1 0 100%; /* L'ultimo bottone nella terza riga */
  }
}

@media screen and (max-width: 767px) {
  .ant-typography-title {
    font-size: 2rem; /* Dimensione del font per schermi medi */
  }
}

@media screen and (max-width: 480px) {
  .ant-typography-title {
    font-size: 1.5rem; /* Dimensione del font per schermi piccoli */
  }
}
